body{
  background-color: black;
  color: white;
}

body::-webkit-scrollbar{
  display: none;
}
.hover_effect{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 310px;
  position: relative;
  overflow: hidden;
  transition: 1.0s ease;
  /* margin: 10px;
  background-color: gray; */
}

.hover_effect img{
  width:100px;
  transition: transform 1.0s ease;
  transform: translateZ(0);
}

.hover_effect:hover img{
  transform: scale(1.1) translateZ(50px)
}

button{
  font-weight: bold !important;
}